.container {
  max-width: 120rem;
  background-color: $grey-light-1;
  margin: 8rem auto;
  min-height: 80rem;
  box-shadow: $shadow-dark;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%; // -> убираем бордеры при уменьшении экрана
  }
}

.content {
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}